# Synology user/group IDs (run `id` on your Synology to find these)
PUID=1000
PGID=1000

# Timezone
TZ=Europe/Zurich

# Path to your data volume on the Synology filesystem
DATA_PATH=/volume1/data

# Path for service config files (relative to this directory)
CONFIG_PATH=./config

# qBittorrent web UI password (change this!)
QB_PASSWORD=changeme123
